@use '../abstracts' as a;

body {
    font-family: a.$font-primary;
    color: a.$color-text;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: a.$color-bg;
}

h1,
h2,
h3,
h4 {
    color: a.$color-secondary;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin-bottom: 1.5rem;
}